.nx/installation
.nx/cache
.nx/workspace-data
vite.config.*.timestamp*
node_modules

# Python / Poetry
.venv/
venv/
env/
.env
.env.local
*.pyc
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/
android/
ios/


vitest.config.*.timestamp*